*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}
.header-wrapper {
  width: 100%;
  background-image: url(../images/Background/section-1\(header\).jpg);
  background-size: 100%;
  background-attachment: fixed;
}

/* Header */

.page-header {
  height: 120px;
  background-color: rgba(94, 93, 88, 0.6);
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  height: 120px;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 26px;
  margin-bottom: 27px;
  display: flex;
  position: relative;
}

.logo-letter {
  font-style: bold;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  position: absolute;
  top: 18px;
  left: 14px;
}

.logo-slogan {
  padding-left: 6px;
  font-size: 32px;
  line-height: 48px;
  align-self: center;
  color: #ffffff;
}

.logo-slogan-blue {
  color: #18cfab;
}

.header-menu {
  margin-right: 50px;
  margin-top: 48px;
  margin-bottom: 49px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: relative;
}

.menu-items:nth-child(1):hover::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  border: 2px solid #18cfab;
  background-color: #18cfab;
  top: 68px;
  left: 60px;
}

.menu-items:nth-child(2):hover::after {
  content: "";
  position: absolute;
  width: 57px;
  height: 1px;
  border: 2px solid #18cfab;
  background-color: #18cfab;
  top: 68px;
  left: 132px;
}

.menu-items:nth-child(3):hover::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 1px;
  border: 2px solid #18cfab;
  background-color: #18cfab;
  top: 68px;
  left: 211px;
}

.menu-items:nth-child(4):hover::after {
  content: "";
  position: absolute;
  width: 57px;
  height: 1px;
  border: 2px solid #18cfab;
  background-color: #18cfab;
  top: 68px;
  left: 278px;
}

.menu-items:nth-child(5):hover::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  border: 2px solid #18cfab;
  background-color: #18cfab;
  top: 68px;
  left: 357px;
}

.menu-items:nth-child(6):hover::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 1px;
  border: 2px solid #18cfab;
  background-color: #18cfab;
  top: 68px;
  left: 448px;
}

.menu-items:nth-child(7):hover::after {
  content: "";
  position: absolute;
  width: 114px;
  height: 1px;
  border: 2px solid #18cfab;
  background-color: #18cfab;
  top: 68px;
  left: 522px;
}

.menu-items {
  margin-left: 21px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.menu-links {
  color: rgba(255, 255, 255, 0.6);
}

.menu-links:hover {
  color: #18cfab;
}

.menu-icon {
  padding-left: 21px;
}

/* MAIN */

/* SECTION-TITLE */

.section-title-wrapper {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-family: Montserrat;
  margin: 0;
  padding-top: 205px;
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.lower-title {
  /* font-family: Montserrat; */
  margin-top: 22px;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 78px;
  line-height: 78px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.title-slogan {
  margin-top: 22px;
  font-weight: normal;
  font-size: 34px;
  line-height: 34px;
  text-align: center;

  color: #d4d4d4;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 366px;
  margin-top: 135px;
  margin-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
}

.button-background {
  width: 170px;
  height: 63px;
  background-color: #fff;
  border-radius: 5px;
}
.title-button:nth-child(2) {
  width: 170px;
  height: 60px;
  position: absolute;
  top: 3px;
  color: #ffffff;
  font-size: 15px;
  line-height: 32px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #18cfab;
}

.title-button:nth-child(4) {
  width: 170px;
  height: 60px;
  position: absolute;
  top: 3px;
  left: 196px;
  color: #ffffff;
  font-size: 15px;
  line-height: 32px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #00cbf6;
}

.background-line {
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  background-color: #ffffff;
}

.grid-items {
  display: grid;
  grid-template-rows: 325px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin-left: auto;
  margin-right: auto;
}

.grid-item:nth-child(1) {
  background-color: #1c2a33;
}
.grid-item:nth-child(2) {
  background-color: #18cfab;
}
.grid-item:nth-child(3) {
  background-color: #1c2a33;
}
.grid-item:nth-child(4) {
  background-color: #18cfab;
}

.grid-item-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
}

.grid-item:nth-child(2) > .grid-item-icon {
  margin-top: 107px;
}

.grid-item:nth-child(4) > .grid-item-icon {
  margin-top: 105px;
}

.grid-item-description {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

.grid-item:nth-child(1) > p {
  color: #18cfab;
}
.grid-item:nth-child(2) > p {
  color: #ffffff;
}
.grid-item:nth-child(3) > p {
  color: #18cfab;
}
.grid-item:nth-child(4) > p {
  color: #ffffff;
}

/* SECTION OUR SERVICES */

.our-services {
  background-color: #fff;
}

.our-services-wrapper {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.our-services-title {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0;
  padding-top: 80px;
  padding-bottom: 100px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  color: #4e4e4e;
}

.our-services-title::before {
  content: "";
  width: 80px;
  background-color: #18cfab;
  border: 0.5px solid #18cfab;
  position: absolute;
  top: 135px;
  left: 540px;
}

.our-services-title::after {
  content: "";
  width: 80px;
  background-color: #18cfab;
  border: 0.5px solid #18cfab;
  position: absolute;
  top: 140px;
  left: 540px;
}

.our-services-menu {
  display: grid;
  position: relative;
  width: 1140px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px;
  margin-left: auto;
  margin-right: auto;
}

.our-services-menu-item {
  background-color: #f8fcfe;
  border: 1px solid #edefef;
  list-style: none;
  text-align: center;
  padding-top: 15px;
}

.our-services-menu-link {
  font-weight: normal;
  font-size: 15.9859px;
  line-height: 39px;
  color: #717171;
}

.our-services-menu-item:hover {
  border: 1.5px solid #18cfab;
}

.our-services-menu-item-active {
  background-color: #18cfab;
  border: 1px solid #18cfab;
  list-style: none;
  text-align: center;
  padding-top: 15px;
}

.our-services-menu-link-active {
  font-weight: normal;
  font-size: 15.9859px;
  line-height: 39px;
  color: #ffffff;
}

.our-services-menu-item:nth-child(1) > .our-services-menu-triangle {
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  display: block;
  top: 70px;
  left: 90px;
}

.our-services-menu-item:nth-child(2) > .our-services-menu-triangle {
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  display: none;
  top: 70px;
  left: 280px;
}

.our-services-menu-item:nth-child(3) > .our-services-menu-triangle {
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  display: none;
  top: 70px;
  left: 470px;
}

.our-services-menu-item:nth-child(4) > .our-services-menu-triangle {
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  display: none;
  top: 70px;
  left: 660px;
}

.our-services-menu-item:nth-child(5) > .our-services-menu-triangle {
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  display: none;
  top: 70px;
  left: 850px;
}

.our-services-menu-item:nth-child(6) > .our-services-menu-triangle {
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  display: none;
  top: 70px;
  left: 1040px;
}

.our-services-menu-item > .our-services-menu-triangle-active {
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  display: block;
  top: 70px;
  left: 1040px;
}

.undermenu-wrapper {
  height: 250px;
}

.undermenu-wrapper > .our-services-undermenu:nth-child(1) {
  display: flex;
  width: 1140px;
  height: 250;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 90px;
}

.our-services-undermenu {
  display: none;
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 90px;
}

.undermenu-decription {
  margin-top: 0;
  margin-left: 15px;
  width: 933px;

  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
}

/* SECTION_OFFER */

.section-offer {
  background-image: url(../images/Background/section-2.jpg);
  background-size: 100%;
  background-position: center;
  box-shadow: inset 400px 400px 400px 400px rgba(0, 0, 0, 0.699);
}

.section-offer-wrapper {
  max-width: 1160px;
  margin: 0 auto;
}
.section-offer-title {
  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 127px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;

  color: #18cfab;
}

.section-offer-description {
  margin-top: 0;
  margin-bottom: 65px;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  text-align: center;

  color: #d8d8d8;
}

.section-offer-button-wrapper {
  position: relative;
  width: 170px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 127px;
}

.section-offer-button {
  width: 170px;
  height: 60px;
  position: absolute;
  top: 3px;
  color: #ffffff;
  font-size: 15px;
  line-height: 32px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #18cfab;
}

/* SECTION OUR AMAZING WORK */

.section-amazing-work {
  padding-bottom: 100px;
  background-color: #e9edef;
}

.section-amazing-work-wrapper {
  position: relative;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.amazing-work-title {
  margin-top: 0;
  padding-top: 95px;
  margin-bottom: 95px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  color: #4e4e4e;
}

.amazing-work-title::before {
  content: "";
  width: 80px;
  background-color: #18cfab;
  border: 0.5px solid #18cfab;
  position: absolute;
  top: 155px;
  left: 540px;
}

.amazing-work-title::after {
  content: "";
  width: 80px;
  background-color: #18cfab;
  border: 0.5px solid #18cfab;
  position: absolute;
  top: 160px;
  left: 540px;
}

.amazing-work-menu {
  padding: 0;
  display: grid;
  width: 582px;
  grid-template-rows: 58px;
  grid-template-columns: 77px 142px 110px 142px 107px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;
}

.amazing-work-menu-item {
  list-style: none;
  border: 1px solid #dadada;
  text-align: center;
  padding-top: 10px;
}

.amazing-work-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
}

.amazing-work-menu-item-active {
  list-style: none;
  border: 2px solid #18cfab;
  text-align: center;
  padding-top: 10px;
}

.amazing-work-link-active {
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  color: #18cfab;
}

.amazing-work-images-wrapper {
  display: grid;
  width: 1140px;
  /* height: 630px; */
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
}

.amazing-work-item {
  height: 210px;
}

.amazing-work-image {
  display: block;
  width: 285px;
  height: 210px;
}

.amazing-work-image-description {
  width: 285px;
  height: 210px;
  display: none;
  border-top: 3px solid #18cfab;
}

.amazing-work-image-description-icon {
  display: block;
  margin-top: 40px;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
  width: 88px;
}

.amazing-work-image-description-upperlink {
  display: block;
  width: 135px;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 14.1771px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;

  color: #18cfab;
}

.amazing-work-image-description-lowerlink {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  text-align: center;

  color: #8a8a8a;
}

.amazing-work-item:hover > .amazing-work-image {
  display: none;
}

.amazing-work-item:hover > .amazing-work-image-description {
  display: block;
}

.amazing-work-button {
  position: relative;
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  height: 65px;
  padding-top: 12px;
  padding-left: 45px;
  background-color: #18cfab;
  border-radius: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.amazing-work-button-icon {
  position: absolute;
  top: 23px;
  left: 25px;
}

/* SECTION-BREAKING-NEWS */

.section-breacking-news {
  padding-bottom: 130px;
  background-color: #fff;
}

.section-breacking-news-wrapper {
  position: relative;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.breaking-news-title {
  margin-top: 0;
  padding-top: 82px;
  margin-bottom: 95px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  color: #4e4e4e;
}

.breaking-news-title::before {
  content: "";
  width: 80px;
  background-color: #18cfab;
  border: 0.5px solid #18cfab;
  position: absolute;
  top: 150px;
  left: 540px;
}

.breaking-news-title::after {
  content: "";
  width: 80px;
  background-color: #18cfab;
  border: 0.5px solid #18cfab;
  position: absolute;
  top: 155px;
  left: 540px;
}

.breaking-news-grid-wrapper {
  display: grid;
  width: 1160px;
  height: 605;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 32px;
  row-gap: 45px;
}

.breaking-news-item {
  display: block;
  width: 265px;
  height: 280;
  position: relative;
}

.breaking-news-item-image {
  display: block;
}
.breaking-news-item-corner {
  display: block;
  margin: 0;
  padding-top: 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 68px;
  background-color: #203e38;

  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.breaking-news-item-corner > span {
  display: block;
}

.breaking-news-item-link {
  margin: 0;
  font-weight: bold;
  font-size: 17.9885px;
  line-height: 39px;
  text-align: center;

  color: #717171;
}

.breaking-news-item-comment {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 13.991px;
  color: #777777;
  text-align: center;
}

.breaking-news-item:hover > .breaking-news-item-corner {
  background: #18cfab;
}

.breaking-news-item:hover > .breaking-news-item-link {
  color: #18cfab;
}

/* SECTION-WHAT-PEOPLE-SAY */

.section-what-people-say {
  padding-bottom: 100px;
  background-image: url(../images/Background/section-3.jpg);
  background-size: 100%;
  box-shadow: inset 400px 400px 400px 400px rgba(0, 0, 0, 0.322);
}

.section-what-people-say-wrapper {
  padding-top: 100px;
  position: relative;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section-what-people-say-title {
  margin-top: 0;
  margin-bottom: 100px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  color: #ffffff;
}

.section-what-people-say-title::before {
  content: "";
  width: 80px;
  background-color: #18cfab;
  border: 0.5px solid #18cfab;
  position: absolute;
  top: 160px;
  left: 540px;
}

.section-what-people-say-title::after {
  content: "";
  width: 80px;
  background-color: #18cfab;
  border: 0.5px solid #18cfab;
  position: absolute;
  top: 165px;
  left: 540px;
}

.section-what-people-say-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-what-people-say-description {
  width: 1160px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 30px;
  text-align: center;

  color: #bbbbbb;
}

.name {
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  margin-bottom: 10px;
}

.position {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  color: #bbbbbb;
}

.section-what-people-say-image {
  display: block;
  width: 143px;
  height: 142px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 40px;
  border-radius: 100px;
}

.position::after {
  content: "";
  position: absolute;
  width: 163px;
  height: 162px;
  border: 10px solid #1fdab5;
  border-radius: 100px;
  opacity: 0.2;
  top: 487px;
  left: 498px;
}

.section-what-people-say-images-wrapper {
  display: flex;
  position: relative;
  width: 483px;
  height: 110px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.section-what-people-say-left-button {
  margin-top: 16px;
  width: 31px;
  height: 31px;
}

.section-what-people-say-left-button:hover {
  background-color: #18cfab;
}

.section-what-people-say-right-button {
  margin-top: 16px;
  width: 31px;
  height: 31px;
}

.section-what-people-say-right-button:hover {
  background-color: #18cfab;
}

.section-what-people-say-image-link {
  border-radius: 100px;
}

.section-what-peaople-say-image-icon {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.section-what-people-say-image-link-circle {
  width: 70px;
  height: 70px;
  border: 5px solid #1fdab5;
  border-radius: 100px;
  opacity: 0.2;
}

.section-what-people-say-image-link-circle-active {
  margin-bottom: 40px;
}

.section-what-people-say-images-wrapper
  > .section-what-people-say-image-link:nth-child(3) {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  top: 5px;
  left: 64px;
}

.section-what-people-say-images-wrapper
  > .section-what-people-say-image-link:nth-child(5) {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  top: 25px;
  left: 162px;
}

.section-what-people-say-images-wrapper
  > .section-what-people-say-image-link:nth-child(7) {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  top: 25px;
  left: 261px;
}

.section-what-people-say-images-wrapper
  > .section-what-people-say-image-link:nth-child(9) {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  top: 25px;
  left: 359px;
}

/* .section-what-people-say-image-link-active {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  top: 5px;
  left: 64px;
} */

/* FOOTER */

.page-footer {
  height: 120px;
  background: #22353f;
}

.footer-sign {
  display: block;
  width: 330px;
  margin: 0;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}

.footer-span {
  color: #18cfab;
}
